/* 2. header */
.header-transparent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	transition: .4s;
}

.sticky {
	left: 0;
	margin: auto;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
	z-index: 9999;
	-webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	background: #fff;
}

.logo {
	& a {
	   & img {
			@media #{$xs} {
				max-width: 100%;
			}
			@media #{$sm} {
				max-width: 100%;
			}
		}
	} 
} 

.header-icon {
	& a {
		height: 50px;
		width: 50px;
		line-height: 50px;
		text-align: center;
		display: inline-block;
		font-size: 18px;
		background: $white;
		color: $theme-color;
		margin-right: 2px;
		transition: .3s;
		@media #{$laptop} {
			width: 42px;
		}
		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background: $theme-color;
			color: $white;
		}
	}
}

.header-sing {
	margin-left: 6px;

	& a {
		color: $black;
		font-weight: 700;
		font-size: 14px;
		font-family: $roboto;
		background: $white;
		padding: 17px 28px;
		line-height: 1;
		display: inline-block;

		& i {
			color: $theme-color;
			padding-right: 7px;
		}
	}
}

.pos-rel {
	position: relative;
}

.menu-bar {
	margin-left: 40px;
	@media #{$laptop} {
		margin-left: 4px;
	}
	& i {
		font-size: 35px;
		color: #9b9b9b;
		transition: .3s;

		&:hover {
			color: $theme-color;
		}
	}
}

.menu-bar-red i {
	color: $black;
}

.instagram img {
	width: 100%;
}

.social-icon-right>a {
	color: #fff;
	display: inline-block;
	margin-right: 20px;
	text-align: center;
}

.social-icon-right>a:hover {
	color: $theme-color;
}

.instagram {
	overflow: hidden;
	margin: 0 -4px;
}

.instagram>a {
	float: left;
	width: 33.33%;
	padding: 0 4px;
	margin-bottom: 7px;
}

.side-info {
	border-top: 1px solid #344159;
	padding-top: 25px;
}

.contact-list h4 {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
}

.contact-list p {
	color: #fff;
	opacity: .5;
	margin: 0;
	margin-bottom: 5px;
	line-height: 28px;
}

.side-menu ul li:hover a {
	color: $theme-color;
}




/* menu */
.main-menu-area {
	@media #{$laptop} {
		padding-left: 15px;
		padding-right: 15px;
	}
	@media #{$lg} {
		padding: 25px 15px;
	}
	@media #{$md} {
		padding: 25px 15px;
	}
	@media #{$xs} {
		padding: 25px 15px;
	}
	@media #{$sm} {
		padding: 25px 15px;
	}
}
.main-menu nav>ul>li {
	display: inline-block;
	position: relative;
	margin-right: 26px;
	@media #{$laptop} {
		margin-right: 3px;
		margin-left: 13px;
	}
}

.main-menu nav>ul>li>a {
	margin-right: 0;
}

.main-menu nav>ul>li>a {
	display: block;
	font-size: 18px;
	padding: 47px 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	background: transparent;
	line-height: 1;
	position: relative;
	text-transform: capitalize;
	color: $black;
	font-weight: 500;
	font-family: $roboto;

	& i {
		font-size: 16px;
		margin-left: 3px;
		position: relative;
		top: 2px;
	}
}

.main-menu nav>ul>li:hover>a,
.main-menu nav>ul>li.active>a {
	color: $theme-color;
}

/* sub-menu */

.main-menu nav>ul>li .sub-menu {
	background: #ffffff none repeat scroll 0 0;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	left: 0;
	opacity: 0;
	position: absolute;
	top: 120%;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 220px;
	z-index: 9;
	border-top: 3px solid $theme-color;
	text-align: left;
}

.main-menu nav>ul>li:hover .sub-menu {
	opacity: 1;
	top: 100%;
	visibility: visible
}

.main-menu nav>ul>li .sub-menu li {
	display: block
}

.main-menu nav>ul>li .sub-menu li a {
	color: #666666;
	font-size: 18px;
	margin: 0;
	padding: 10px 20px;
	text-transform: capitalize;
	display: block;
	font-size: 500;
}

.main-menu nav>ul>li:hover>.sub-menu li>a:hover {
	color: #fff;
	background: $theme-color;
}

/* Hamburger-menu */
.hamburger-menu {
	display: inline-block;

	&>a {
		display: inline-block;
		font-size: 25px;
		color: $theme-color;
	}
}

.side-mobile-menu {
	display: none;

	@media #{$lg} {
		display: block;
	}

	@media #{$md} {
		display: block;
	}

	@media #{$xs} {
		display: block;
	}

	@media #{$sm} {
		display: block;
	}
}

.offset-sidebar {
	display: block;
	margin-top: 30px;

	@media #{$lg} {
		display: none;
	}

	@media #{$md} {
		display: none;
	}

	@media #{$xs} {
		display: none;
	}

	@media #{$sm} {
		display: none;
	}
}

//header-02
.custom-container {
	max-width: 1450px;
	margin: 0 auto;
}

.main-menu-02 {
	& nav {
		& > ul {
			& > li {
				@media #{$xl} {
					margin-left: 16px;
					margin-right: 17px;
				}
				@media #{$xl} {
					margin-left: 6px;
					margin-right: 7px;
				}
				& > a {
					color: $white;
				}
			}
		}
	}
}
.header-transparent-02 {
	@media #{$lg} {
		padding:10px 15px
	}
	@media #{$md} {
		padding:10px 15px
	}
	@media #{$xs} {
		padding:10px 15px
	}
	@media #{$sm} {
		padding:10px 15px
	}
	& .sticky {
		background: $blue-soft6;
		@media #{$lg} {
			padding:10px 15px
		}
		@media #{$md} {
			padding:10px 15px
		}
		@media #{$xs} {
			padding:10px 15px
		}
		@media #{$sm} {
			padding:10px 15px
		}
	}
}